{% extends 'base.htm.twig' %}
{% block title %} Students {% endblock %}
{% block body %}
    <article>
        <div class="article_inner">

            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

                <div id="ui-tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-live="polite"
                     aria-labelledby="ui-id-2" role="tabpanel" aria-expanded="false" aria-hidden="true"
                     style="display: none;"></div>
                <div id="ui-tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-live="polite"
                     aria-labelledby="ui-id-3" role="tabpanel" aria-expanded="true" aria-hidden="false">
                    <meta http-equiv="content-type" content="text/html; charset=utf-8">

                    <div id="listDiv_current">
                        <form id="list_form_current" method="post" action="">
                            <table id="dtable" width="100%" border="0" cellpadding="0" cellspacing="0" class="list-bookings" style="font-size: 10pt;">
                            <thead>
                                <tr>
                                    <th class="booking-list-header">Admission Number</th>
                                    <th class="booking-list-header">Student Name</th>
                                    <th class="booking-list-header">Bar Code</th>
                                    <th class="booking-list-header">Status</th>
                                    <th class="booking-list-header">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td class="booking-list-cell">{{ student.admissionNumber }}</td>
                                        <td class="booking-list-cell">{{ student.studentName }}</td>

                                        <td class="booking-list-cell">
                                            <img src='{{ asset('knh/BCG/html/image.php') }}?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=10&text="{{ student.admissionNumber }}"&thickness=50&start=NULL&code=BCGcode128'/>
                                        </td>
                                        <td class="booking-list-cell">{{ student.status }}</td>
                                        <td class="booking-list-cell">
                                            <a class="btn btn-warning" for="ViewAdmin"
                                               href="{{ path('update-student', {'id': student.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}

                                {% endfor %}
                                </tbody>
                            </table>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </article>
    <div class="page-title">
        <div class="title_left">
            <h3>
                <small>Home /</small>
                Students
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <br/>
                <br/>
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Student List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li style="list-style:none">
                            <a href="{{ path('add-student') }}" style="background:none;">
                                <button class="btn btn-primary"><i class="fa fa-plus"></i> Add Student</button>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- content starts here -->

                    <div class="table-responsive">
                    </div>

                    <!-- content ends here -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}