{% extends 'base.htm.twig' %}

{% block javascripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( ".js-date" ).datepicker();
        } );

    </script>
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function () {
            $('body').on('click','#new',function (e) {
                // bind to the form's submit event
                $('#newForm').submit(function (e) {
                    var ajaxRequest;

                    //Prevent Normal Submit
                    e.preventDefault();

                    $(".message").fadeOut("slow");
                    $("#newForm").fadeOut("slow");
                    $('#saving').fadeIn("slow");

                    var form = document.getElementById("newForm");
                    var elements = form.elements;
                    for (var i = 0, len = elements.length; i < len; ++i) {
                        elements[i].readOnly = true;
                    }
                    // get form values
                    var values = $(this).serialize();

                    $.ajax({
                        url: $(this).data('url'),
                        data: new FormData(this),
                        contentType: false,
                        cache: false,
                        processData: false,
                        method: 'POST'
                    }).done(function (company) {
                        $('#saving').fadeOut("slow");
                        $('#message').fadeIn("slow");


                    }).fail(function () {
                        $('#saving').fadeOut("slow");

                        $("#error").fadeIn("slow");

                        setTimeout(function () {
                            jQuery("#error").fadeOut("slow");
                        }, 3000);
                        location.reload()
                    })


                });

            })

        });


    </script>

{% endblock %}
{% block service %}active{% endblock %}
{% block pageTitle %}Swap Lost Book{% endblock %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.css" rel="stylesheet"/>

    <style>
        .required:after {
            content:" *";
            color:red;
        }
        label{
            text-transform: capitalize;
            font-weight: bold;
        }
    </style>

    <article>
        <div class="article_inner">
            <div id="saving" class="alert alert-warning" style="display: none">
                <i class="fa fa-spin fa-spinner"></i>&nbsp;Swapping Book
            </div>
            <div id="error" class="alert alert-danger" style="display: none">
                <i class="fa fa-times"></i>&nbsp;Error, No Lost Book on record for this Student. Confirm the Admission Number and try Again.
            </div>
            <div id="message" class="alert alert-success" style="display: none">
                <i class="fa fa-check"></i>&nbsp;Book Swapped
            </div>
            <div id="form-data" class="form form-wrap" style="">
                {{ form_start(form,{'attr':{'id':'newForm'}}) }}
                <h2>Basic Details</h2>

                <div>
                    <div class="column">
                        <div class="form-row">
                            <div class="form-widget">
                                {{ form_row(form.student1, { 'attr': {'class': 'slim-select'} }) }}
                            </div>
                            <div class="form-errors"></div>
                        </div>
                        <div class="form-row">

                            <div class="form-widget">
                                {{ form_row(form.student2, { 'attr': {'class': 'slimSelect'} }) }}
                            </div>
                            <div class="form-errors"></div>
                        </div>
                        <div class="form-row">

                            <div class="form-widget">
                                {{ form_row(form.metadata, { 'attr': {'class': 'slim'} }) }}
                            </div>
                            <div class="form-errors"></div>
                        </div>
                    </div>

                </div>
                <div class="button-row">
                    <input id="new" type="submit" value="Committ Swap">

                </div>
                {{ form_end(form) }}
            </div>

            <script type="text/javascript">
                new SlimSelect({
                    select: '.slim-select'
                })
                new SlimSelect({
                    select: '.slimSelect'
                })
                new SlimSelect({
                    select: '.slim'
                })
            </script>
        </div>
    </article>


    <aside class="">
        <i class="fa fa-question-circle help-icon"></i>
        <p>ALL the fields marked (*) are required.</p>

    </aside>


{% endblock %}

