{% extends 'base.htm.twig' %}
{% block title %} Books Metadata {% endblock %}
{% block pageTitle %}Select Book to Issue{% endblock %}
{% block body %}
    <article>
        <div class="article_inner">

            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

                <div id="ui-tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-live="polite" aria-labelledby="ui-id-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;"></div><div id="ui-tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-live="polite" aria-labelledby="ui-id-3" role="tabpanel" aria-expanded="true" aria-hidden="false"><meta http-equiv="content-type" content="text/html; charset=utf-8">

                    <div id="listDiv_current">
                        <form id="list_form_current" method="post" action="">
                            <table id="dtable" width="100%" border="0" cellpadding="0" cellspacing="0" class="list-bookings" style="font-size: 10pt;">

                                <thead>
                                <tr>
                                    <th class="booking-list-header">Title</th>
                                    <th class="booking-list-header">Subject</th>
                                    <th class="booking-list-header">Form</th>
                                    <th class="booking-list-header">Edition</th>
                                    <th class="booking-list-header">Author/s</th>
                                    <th class="booking-list-header">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for meta in metadata %}
                                    <tr>
                                        <td class="booking-list-cell">{{ meta.title }}</td>
                                        <td class="booking-list-cell">{{ meta.category }}</td>
                                        <td class="booking-list-cell">{{ meta.class }}</td>
                                        <td class="booking-list-cell">{{ meta.edition }}</td>
                                        <td class="booking-list-cell">{{ meta.author }}<br /></td>

                                        <td class="booking-list-cell">

                                            <a class="btn btn-warning" title="Issue Book" for="ViewAdmin" href="{{ path('issue-book-library', {'id': meta.id}) }}">
                                                <i class="fa fa-play-circle-o"></i>&nbsp; Issue Books
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}

                                {% endfor %}
                                </tbody>
                            </table>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </article>

    <div class="page-title">
        <div class="title_left">
            <h3>
                <small>Home /</small> Metadata
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <br />
                <br />
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Select Book</h2>
                    <ul class="nav navbar-right panel_toolbox">

                    </ul>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}